/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Encabezado y pie de página compartidos */

header, footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* Cuadrícula */

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Cambia el número de columnas según tus necesidades */
    grid-gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Estilos específicos para elementos dentro de la cuadrícula */
.grid-item img {
    max-width: 100%;
    height: auto;
}

/* Estilos para enlaces */
a {
    text-decoration: none;
    color: #0077cc;
}

a:hover {
    text-decoration: underline;
}
